WLTwitterStep0/WLTwitterStep0/.idea/workspace.xml
WLTwitterStep0/WLTwitterStep0/.gradle/*
WLTwitterStep0/WLTwitterStep0/local.properties
WLTwitterStep0/WLTwitterStep0/.idea/libraries/*
WLTwitterStep0/WLTwitterStep0/.DS_Store
WLTwitterStep0/WLTwitterStep0/build/*
WLTwitterStep0/WLTwitterStep0/captures/*
*.bin
